.workspace-container {
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;

  .workspace-header {
    height: 37px;
    background-color: var(--background-brand-color-3);
    border-bottom: 1px solid var(--line-color-3);
  }

  .workspace-body {
    display: flex;
    height: calc(100vh - 37px);
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;

    .workspace-content-side-bar {
      width: 321px;
      background-color: var(--background-brand-color-2);
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-start;
      align-items: stretch;
    }

    .workspace-content {
      flex: auto;
      background-color: var(--background-light-color-1);
    }
  }
}
