.App {
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#root {
  min-height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #1264a3;
}

.bold {
  font-weight: 700;
}

button {
  font-size: calc(10px + 2vmin);
}
